style.
    #dragArea {
        width:100%;
        border-style:dashed;
        border-width:0.2em;
        height:80px;
    }
    h4 {
        margin:20px auto 10px;
    }
    .rect {
        border: 2pt solid blue;
        position: absolute;
    }

ul.nav
    li.nav-item
        a.nav-link(href='/face') FACE
    li.nav-item
        a.nav-link(href='/passport') PASSPORT
    li.nav-item
        a.nav-link(href='/compare') COMPARE
    li.nav-item
        a.nav-link(href='/qrcode') QRCODE

.display-4.my-5 #{title}